*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.input2{
    
}

html{
    scroll-behavior: smooth;
}

h4{
    position: relative;
    width: 2px;
    background: white;
    height: 15rem;
    bottom: 50rem;
    left: 35rem;
    opacity: 0.7;
}

.searchbar{
    border-radius: 2rem;
}



.logo{
    position: relative;
    bottom: 36rem;
    color: white;
    margin-left: 7rem;
    font-size: 3rem;
}

.logo1{
    width: 38rem;
    height: 30rem;
    margin-top: 2rem;
    margin-left: -8rem;
}

.learnmore{
    position: relative;
    bottom: 35rem;
    color: white;
    margin-left: 7rem;
    width: 12rem;
    height: 5rem;
    font-size: 1.7rem;
    background: none;
    border-style: solid;
    transition: 0.5s;
}



.learnmore:hover{
    background: rgb(76, 120, 252);
    transition: 0.5s;
}


.buy{
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    background: none;
    border: 3px solid white;
    margin-top: 1rem;
    background: #E06467;
    color: white;
}

.buy1{
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    background: none;
    border: 3px solid white;
    margin-top: 1rem;
    background: #E06467;
    color: white;
    display: none;
}

.buy:hover{
    border: 3px #E06467 solid;
    background: white;
    color: black;
    transition: 0.2s;
}

#placeholder{
    position: relative;
    padding-left: 1rem;
}

.header{
    background: white;
    display: flex;
    height: 7.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}



.input1{
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 14rem;
    height: 1.8rem;
    position: relative;
    left: 15rem;
    font-size: 1rem;
}

input:focus{
    border: 2px solid rgb(76, 120, 252);
    outline: none;
}

.headerTitle{
    color: black;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}


.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: rgb(76, 120, 252);
    border: none;
    font-size: 300%;
    letter-spacing: 2px;
}

.headerButton:hover{
    cursor: pointer;
}

.mainNavigation{
    position: absolute;
    top: 3;
    left: 0;
    bottom: 5;
    right: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /*extra for animation*/
    opacity: 0;
    transition: 0.2s all;
}

.mainNavigationList{
    list-style: none;
}


.mainNavigationListItem{
    color: white;
    font-size: 350%;
    text-align: center;
    margin-bottom: 1.25rem;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: black;
}

.mainNavigationListItem > a:hover{
    border-bottom: 7px rgb(76, 120, 252) solid;
    color: rgb(76, 120, 252);
    transition: 0.2s;
}

.bigFigure{
    width: 100%;
    height: 110vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}



.item{
    position: relative;
    top: -6rem;
    left: 1rem;
    color: white;
    opacity: 1;
    font-size: 2rem;
}

.desc{
    position: relative;
    top: -5rem;
    left: 1rem;
    color: white;
}

.item:hover{
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}


.collections{
    width: 100%;
    padding: 2.5rem;
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: rgb(76, 120, 252);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3.125rem;
    margin-top: 3rem;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}


.collectionsListItem{
    width: 28rem;
    height: 30rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}

.collectionsListItem:hover{
   cursor: pointer;
   transform: scale(1.02);
   transition: 0.2s;
}

.modal{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}


.modal__figure{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--switch-color-blue);
}

.modal__figure--pink{
    background: var(--switch-color-pink);
}


.modal__figure--gray{
    background: var(--switch-color-gray);
}

.modal__figure--yellow{
    background: var(--switch-color-yellow);
}

.product__button{
    position: relative;
    top: -4.7rem;
    left: 18rem;
    color: white;
    border: none;
    background: rgb(76, 120, 252);
    width: 8rem;
    height: 2rem;
}



.modal__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal__section{
    width: 100%;
    height: 100%;
    background: var(--background-color-product);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.modal__heading{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 200%;
    border-bottom: 0.5rem solid var(--switch-color-blue);
}



.modal__text{
    font-size: 100%;
    font-weight: 400;
}

.modal__link{
    font-size: 70%;
}

.modal__button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 50%;
    font-size: 130%;
    font-weight: 500;
    background: var(--switch-color-blue);
}

.modal__button:hover{
    cursor: pointer;
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}



.info{
    padding: 2.5rem;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.block{
    width: 25rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.info p {
    font-size: 25px;
}

.footer{
    height: 7.5rem;
    background: rgb(76, 120, 252);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.footerNavigation{
    list-style: none;
    margin-top: 20rem;
}

.footerNavigationItem{
    font-size: 80%;
    font-style: italic;
}


.footer > address{
    font-size: 80%;
    margin-top: 20rem;
}

.footerNavigationItem > a{
    color: white;
    text-decoration: none;
}

#lorem{
    display: none;
}



@media  screen and (max-width:43.75rem) {
    body{
        font-size: 0.875rem;
    }
    .headerTitle{
        font-size: 380%;
    }

    .reviews{
        flex-wrap: wrap;
        width: 100%;
    }

    .review{
        width: 100%;
    }
}


.section{
    background: black;
    height: 20rem; /* placeholder */
}

.section--first{
    background: black;
}

.section--second{
    background: darkblue;
}

.section--third{
    background: white;
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
}

.arrow{
    width: 10%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    cursor: pointer;
}

.reviews{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    width: 100%;
}

.review{
    width: 100%;
    min-height: 20rem;
    list-style: none;
    padding: 4rem;
    background: white;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 1rem;
}



.quote{
    font-size: 500%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    line-height: 0.5;
}


.review p{
    font-size: 115%;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 0.5rem solid white;
    color: rgb(76, 120, 252);
}


.review:hover{
    border-bottom: 1rem solid rgb(76, 120, 252);
    width: 200rem;
    transition: 0.3s;
}



form{
    width: 25rem;
    height: 23rem;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-size: 1rem;
    gap: 1rem;
    color: rgb(76, 120, 252);
    margin-bottom: 3rem;
}
form label{
    border-bottom: 2px solid white;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    display: block;
    width: 25ch;
    padding: 0.375rem 2rem;
    font-size: 1.6rem;
    border: 1px solid black;
    background: white;
}

.input2{
    display: flex;
}


.input2:checked{
    background: red;
}

textarea{
    height: 5.3ch;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid black;
    font-family: sans-serif;
    padding: 1rem 2rem;
    resize: none;
    background: #EEEEEE;
}

.submit{
    background: rgb(255, 255, 255);
    color: rgb(76, 120, 252);
    font-size: 1.6rem;
    border: none;
}

.submit:hover{
    cursor: pointer;
}




